x-common: &common
  platform: linux/arm64
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"

  env_file:
    - .env

  networks:
    - main
    - dokploy-network

services:
  backend:
    <<: *common
    build:
      context: ../..
      dockerfile: docker/prod/dockerfile
      target: be-prod
    ports:
      - "8000:8000"
    command: uv run python manage.py runserver 0.0.0.0:8000

  frontend:
    <<: *common
    build:
      context: ../..
      dockerfile: docker/prod/dockerfile
      target: fe-prod
      args:
        - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
      - PORT=4000
    ports:
      - "4000:4000"
    depends_on:
      - backend

networks:
  main:
    driver: bridge
  dokploy-network:
    external: true
